.container{

  .titleContent{

   padding: 5rem 10rem 2rem 10rem;

      h1{
      display: inline;
      color: #182F61;
      width: 100%;
      font-weight: bold;
      padding-right: 25px;

      box-shadow: 0px -20px 0px #F9B233 inset;
    }
  }
  .textContent{

   padding: 0 10rem 5rem 10rem;
  p{
      text-align: justify;
      

  }
}
  .separator{
    height: 1.2rem;
    width: 200px;
    margin-top: -25px;
    margin-bottom: 2.5rem;

  }
}

