.mainBannerContainer{
  background: 
  linear-gradient(
      rgba(25, 48, 97,.3) 80%,rgba(255,255,255,1) 
    ),url(../../../public/assets/MainBanner1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  .mainTitle{
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;


      .titleContent{
          color: #182F61;
          padding: 15px;
          background: #fff;
      }
  }

  
    
  .TitleBack{
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    width: 155px;
    height: 50px;
    left: 20px;
    top: 400px;
    background: transparent;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  }


}

